<div class="profile">
  <mat-card class="large-centred-content">
    <mat-card-header>
      <mat-card-title color="primary">Settings</mat-card-title>
    </mat-card-header>
    <mat-card-content class="profile-content">
      <form [formGroup]="profileForm" (ngSubmit)="save()">
        <div>
          <mat-form-field [ngClass]="{'has-error': profileForm.controls.name.invalid && (profileForm.controls.name.touched || profileForm.controls.name.dirty)}">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            @if (profileForm.controls.name.hasError('required') && (profileForm.controls.name.touched || profileForm.controls.name.dirty)) {
              <mat-error class="help-block">Name must not be empty</mat-error>
            }
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Birth Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Age</mat-label>
            <input matInput [disabled]="true" [value]="calcAge()">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Hair color</mat-label>
            <mat-select formControlName="hairColor">
              @for (hairColor of availableHairColors; track hairColor) {
                <mat-option [value]="hairColor">
                  {{ hairColor }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button type="submit" mat-raised-button color="primary" [disabled]="profileForm.invalid">Save</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
