<mat-nav-list>
  @if (users$ | async; as users) {
    @for (user of users | filterUser: user; track user.id) {
      <mat-list-item
          [class.selected]="user.id === selected?.id"
          (click)="toggleUser(user)">
          @defer (on viewport) {
            <app-avatar [name]="user?.name ?? ''"
                        size="small"></app-avatar>
          } @placeholder {
            <span></span>
          }
          <!-- @defer (on timer(500ms)) {
            <app-avatar [name]="user?.name ?? ''"
                        size="small"></app-avatar>
          } @placeholder {
            <span>_</span>
          } -->

        <span>{{user.name}}</span>
      </mat-list-item>
    }
    @empty {
      <span>Nothing to see here!</span>
    }
  }
</mat-nav-list>
