$border-width: 5px;

app-avatar{
  margin-right: .5rem;
}

mat-list-item{
  border-left: $border-width solid transparent;
}

.selected{
  border-left: $border-width solid blue;
  border-radius: 3px;
}
