:host {
    line-height: 1;
}

img {
    display: inline-block;
    &.large {
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }
    
    &.small {
        width: 25px;
        height: 25px;
        border-radius: 25px;
    }    

    background-color: red;
}
