:host{
  display: block;
}

.chat-message-container.sent{
  flex-direction: row-reverse;
}

.chat-message-container{
  display: flex;
  flex-direction: row;
  padding: 1rem;

  .chat-message{
    flex: 2;
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 10px;
  }
  &.private {
    .chat-message {
      background-color: rgba(255, 0, 242, 0.37);
    }
    &.sent .chat-message {
      background-color: rgba(255, 153, 0, 0.37);
    }
  }
  &.sent .chat-message {
    background-color: rgba(0, 255, 159, 0.37);
  }
  header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: smaller;
  }


  main{
    margin-top: .5rem;
    font-size: larger;
  }


}

.avatar{
  margin: 0 1rem;
}
