<div [ngClass]="{'sent': message.sender === current?.name, 'private': message.receiver !== null}" class="chat-message-container">
  <div class="avatar">
    <app-avatar [name]="message.sender"></app-avatar>
  </div>
  <div class="chat-message">
    <header>
      <div>
        <span>{{message.sender}}</span>
        <span>Receiver: {{message.receiver}}</span>
      </div>
      <span class="date">{{message.date|date:long}}</span>
    </header>
    <main>
      {{message.text}}
    </main>
  </div>

</div>
