<div class="profile">
    <mat-card class="large-centred-content">
      <mat-card-header>
        <mat-card-title color="primary">
          Profile
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="profile-content">
        <div class="profile-users">
          View Profile:
          <app-list (select)="selectProfile($event)"></app-list>
        </div>
        <div class="profile-view" *ngIf="profile">
          <app-profile-view [user]="profile"></app-profile-view>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
