<header>
  <mat-toolbar color="primary" class="navigation">
    <mat-toolbar-row>
      <button mat-button routerLink="/profile" mat-list-item>Profile</button>
      <button mat-button routerLink="/main" mat-list-item>Main</button>
      <button mat-button routerLink="/chat" mat-list-item>Chat</button>
      <button mat-button routerLink="/list" mat-list-item>List</button>

      <span class="example-fill-remaining-space"></span>
      <app-user></app-user>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>
