.chat {
    display: flex;

    .chat-content{
      display: flex;
      flex-direction: row;

      .chat-users{
        width: 20%;
        padding-right: 2rem;
        //background-color: magenta;
      }

      .chat-list{
        flex: 2;
      }

      .chat-message{

        mat-form-field{
          width: 80%;
        }

        button{
          margin-left: 12%;
        }
      }
    }

}
