.chat {
    display: flex;

    .chat-content{
      display: flex;
      flex-direction: row;

      .chat-users{
        width: 20%;
        padding-right: 2rem;
      }

      .chat-list{
        flex: 2;
      }

      .chat-message{
        display: flex;

        mat-form-field{
          flex: 2;
        }

        button{
          margin-left: 3rem;
          align-self: center;
        }
      }
    }

}
