<!--<div>
    <button mat-raised-button color="primary" (click)="reset()">Reset</button>
</div>-->
<div class="chat">
  <mat-card class="large-centred-content">
    <mat-card-header>
      <mat-card-title color="primary">
        Chat
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="chat-content">
      <div class="chat-users">
        <app-list (select)="selectReceiver($event)" [user]="user"></app-list>
      </div>
      <div class="chat-list">
        <mat-tab-group>
          <mat-tab label="All">
            <app-chat-board [user]="user"></app-chat-board>
          </mat-tab>
          <mat-tab label="My Messages">
            <app-chat-board [user]="user" [ownMessages]="true"></app-chat-board>
          </mat-tab>
        </mat-tab-group>
        <form  novalidate
               #chatForm="ngForm">
          <div class="chat-message">
            <mat-form-field>
              <textarea matInput
                        [(ngModel)]="text"
                        required
                        name="text"></textarea>
            </mat-form-field>
            <button mat-raised-button
                    color="primary"
                    [disabled]="!chatForm.valid"
                    (click)="send()">Send
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
