.profile {
  display: flex;

  .profile-content{
    display: flex;
    flex-direction: row;

    .profile-users {
      width: 20%;
      padding-right: 2rem;
    }

    .profile-view {
      flex: 2
    }
  }
}
