<mat-card class="large-centred-content">
  <mat-card-header>
    <mat-card-title>Admin</mat-card-title>
  </mat-card-header>

  <mat-card-content class="main-button-list">
    <button mat-raised-button
            color="primary"
            (click)="listMessages()"
            class="full-width">List Messages
    </button>
    <br>
    <button mat-raised-button
            color="primary"
            (click)="listUsers()"
            class="full-width">List Users
    </button>
  </mat-card-content>
</mat-card>
<mat-card class="large-centred-content">
  <mat-card-header>
    <mat-card-title>Items:</mat-card-title>
  </mat-card-header>

  <mat-card-content class="main-button-list">
    <cdk-virtual-scroll-viewport itemSize="50" class="items">
      <table *ngIf="items$ | async as items">
        <tr>
          <th>Id</th>
          <th>Json Value</th>
        </tr>
          <tr *cdkVirtualFor="let item of items; trackBy: trackById"
              class="item">
            <td>{{ item.id }}</td>
            <td>{{ item.value }}</td>
          </tr>
      </table>
    </cdk-virtual-scroll-viewport>
  </mat-card-content>
</mat-card>
