/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;
@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat.core();

/*$primary: mat.define-palette(mat.$lime-palette, 500);
$accent:  mat.define-palette(mat.$lime-palette, 500, A200, A400);
$warn:    mat.define-palette(mat.$red-palette, 500);

$theme: mat.define-light-theme($primary, $accent, $warn);

@include mat.all-component-themes($theme);*/

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-weight: normal;
    margin: 0;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

.full-width{
  width: 100%;
}

.centred-content{
  width: 30%;
  margin: 20vh auto;
}

.large-centred-content{
  width: 80%;
  margin: 5vh auto;
}

.mat-card > .mat-card-header> :first-child{
  margin: -16px -16px 0 -16px;
  padding: 16px 16px 0 16px;
  width: 100%;
  background-color: #3f51b5;
  font-weight: bold;
}

.mat-card-title{
  font-weight: bold;
  color: white;
}

.mat-card-content{
  padding-top: 16px;
}

.mat-tab-body-wrapper{
  height: 60vh;
}
