# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# You can see what browsers were selected by your queries by running:
#   npx browserslist
# Note: new versions are only resulting from the query when browser db is up to date. To Update. run:
# npx browserslist@latest --update-db updates caniuse-lite

> .5%
last 2 versions
not dead